altgraph==0.17
amqp==2.6.1
argon2-cffi==20.1.0
async-generator==1.10
attrs==20.3.0
backcall==0.2.0
beautifulsoup4==4.9.3
billiard==3.6.3.0
bleach==3.2.1
blis==0.7.3
cached-property==1.5.2
catalogue==1.0.0
celery==4.4.0
certifi==2020.11.8
cffi==1.14.4
chardet==3.0.4
colorama==0.4.4
colored==1.4.2
cycler==0.10.0
cymem==2.0.4
Cython==0.29.21
dataclasses==0.6
DateTime==4.3
decorator==4.4.2
defusedxml==0.6.0
empyrical==0.5.5
entrypoints==0.3
et-xmlfile==1.0.1
eventkit==0.8.6
fastai==2.1.7
fastcore==1.3.10
fastprogress==1.0.0
future==0.18.2
Gooey==1.0.8
h5py==3.1.0
html5lib==1.1
ib-insync==0.9.64
idna==2.10
importlib-metadata==3.1.0
inflection==0.5.1
ipykernel==5.3.4
ipython==7.19.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
jdcal==1.4.1
jedi==0.17.2
Jinja2==2.11.2
joblib==0.17.0
jsonschema==3.2.0
jupyter-client==6.1.7
jupyter-core==4.7.0
jupyterlab-pygments==0.1.2
kiwisolver==1.3.1
kombu==4.6.11
lxml==4.6.2
MarkupSafe==1.1.1
matplotlib==3.3.3
mistune==0.8.4
more-itertools==8.6.0
multitasking==0.0.9
murmurhash==1.0.4
mysql-connector-python==8.0.22
mysqlclient==2.0.3
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.0.8
nest-asyncio==1.4.3
notebook==6.1.5
numexpr==2.7.1
numpy==1.19.3
openpyxl==3.0.5
packaging==20.7
pandas==1.1.4
pandas-datareader==0.9.0
pandas-market-calendars==1.6.1
pandocfilters==1.4.3
parso==0.7.1
pathlib==1.0.1
patsy==0.5.1
pefile==2019.4.18
pickleshare==0.7.5
Pillow==8.0.1
plac==1.1.3
polygon-api-client==0.1.9
preshed==3.0.4
prometheus-client==0.9.0
prompt-toolkit==3.0.8
protobuf==3.14.0
psutil==5.8.0
psycopg2==2.8.6
pycparser==2.20
pydevd-pycharm==203.5419.8
Pygments==2.7.2
pygtrie==2.4.2
pyinstaller==4.2
pyinstaller-hooks-contrib==2021.1
pyodbc==4.0.30
pyparsing==2.4.7
pyrsistent==0.17.3
python-dateutil==2.8.1
pytz==2020.4
pywin32==300
pywin32-ctypes==0.2.0
pywinpty==0.5.7
PyYAML==5.3.1
pyzmq==20.0.0
Quandl==3.5.3
requests==2.25.0
scikit-learn==0.23.2
scipy==1.5.4
seaborn==0.11.0
Send2Trash==1.5.0
six==1.15.0
sklearn==0.0
soupsieve==2.0.1
spacy==2.3.4
SQLAlchemy==1.3.23
srsly==1.0.4
statsmodels==0.12.1
tables==3.6.1
terminado==0.9.1
testpath==0.4.4
thinc==7.4.3
threadpoolctl==2.1.0
tiingo==0.12.0
toolz==0.11.1
torch==1.7.0+cu101
torchaudio==0.7.0
torchvision==0.8.1+cu101
tornado==6.1
tqdm==4.54.0
trading-calendars==2.0.0
traitlets==5.0.5
typing-extensions==3.7.4.3
urllib3==1.26.2
vine==1.3.0
wasabi==0.8.0
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==0.57.0
websockets==8.1
widgetsnbextension==3.5.1
wxPython==4.1.0
xlrd==1.2.0
yfinance==0.1.55
zipp==3.4.0
zope.interface==5.2.0
